<section class="hero">
    <div class="hero-body has-text-centered">
        <img src="assets/icons/software.svg" width="150px">
        <h1 class="title">
            Expo
        </h1>
        <h2 class="subtitle">
            Keletas projektų
        </h2>
    </div>
</section>

<div class="columns is-multiline">
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="https://sportoinzinieriai.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/sportoinzinieriai1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered" href="https://sportoinzinieriai.lt" target="_blank">
                        Sportoinzinieriai.lt
                    </p>
                </header></a>
            <div class="card-content">
                <div class="content">
                    <p>Mitybos planų bei sporto programų užsakymo puslapis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="https://armadillo.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/armadillo1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        Armadillo.lt
                    </p>
                </header></a>
            <div class="card-content">
                <div class="content">
                    <p>
                        Instagram sekėjų rinkimo elektroninė parduotuvė, automatiškai renkanti instagram sekėjus po automatinio
                        mokėjimo patvirtinimo bei informuojanti elektroniniu laišku.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="http://derika.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/derika1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        Derika.lt
                    </p>
                </header></a>
            <div class="card-content">
                <div class="content">
                    <p>
                        Įvairių aksesuarų bei priemonių internetinė parduotuvė.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="http://fanpage.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/fanpage1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        Fanpage.lt
                    </p>
                </header></a>
            <div class="card-content">
                <div class="content">
                    <p>
                        Populiarus naujienų tinklaraštis su unikaliu dizainu bei socialinių tinklų integracija.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="https://kosata.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/kosata1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        Kosata.lt
                    </p>
                </header></a>
            <div class="card-content">
                <div class="content">
                    <p>
                        Kosmetinių aliejų internetinė parduotuvė su mokėjimų bei socialinių tinklų integracija.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="http://euru.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/euru1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        Euru.lt
                    </p>
                </header>
            </a>
            <div class="card-content">
                <div class="content">
                    Svetainė norintiems papildomai užsidirbti.
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <a href="https://blackbus.lt" target="_blank">
                <div class="card-image">
                    <figure class="image">
                        <img src="assets/pictures/blackbus1.png">
                    </figure>
                </div>
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        Blackbus.lt
                    </p>
                </header>
            </a>
            <div class="card-content">
                <div class="content">
                    <p>
                        Mikroautobusų nuomos svetainė leidžianti išsinuomuoti mikroautobusą norimam laikotarpiui pageidaujamu
                        laiku.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <div class="card-image">
                <figure class="image">
                    <img src="assets/pictures/filesystem1.png">
                </figure>
            </div>
            <header class="card-header">
                <p class="card-header-title is-centered">
                    Failų keitimosi sistema ( Kuriama )
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    Failų keitimosi sistema - WEB aplikacija su autentifikacija sauganti kliento duomenis, rūšiuojanti bei klasifikuojanti failus
                    saugykloje. Naudojama angular 6, materializeCSS bei Java Spring boot + Java spring security.
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card has-equal-height">
            <div class="card-image">
                <figure class="image">
                    <img src="assets/pictures/news1.png">
                </figure>
            </div>
            <header class="card-header">
                <p class="card-header-title is-centered">
                    Automatiškai atsinaujinantis naujienų portalas ( Kuriama )
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>WEB aplikacija automatiškai rašanti karščiausias pasaulio naujienas.</p>
                </div>
            </div>
        </div>
    </div>
</div>