<div class="columns main-footer">
  <div class="column footer-colum-1 is-two-fifth">
    <section class="section">
      <ul>
        <li><a><u>Dashboard</u></a></li>
        <li><a><u>Contacts</u></a></li>
        <li><a><u>Notifications</u></a></li>
      </ul>
      <div class="level is-mobile column is-paddingless">
        <div class="level-left">
          <div class="level-item">
            <span class="copyright">© 2015 Contactify</span>
          </div>
          <div class="level-item">
            <a class="is-underlined"><u>About</u></a>
          </div>
          <div class="level-item">
            <a class="is-underlined"><u>Privacy</u></a>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="column footer-colum-2">
    <section class="section">
      <nav class="level is-marginless is-mobile">
        <div class="level-left">
          <span class="level-item">
            <span class="icon is-large">
              <fa-icon class="fas fa-2x" [icon]="icons.cloud"></fa-icon>
            </span>
          </span>
          <p>Last synced:<br>2015-06-02 14:33:10</p>
        </div>
        <div class="level-right">
          <span class="level-item">
            <fa-icon [icon]="icons.sync"></fa-icon>
          </span>
          <span class="level-item">
            <a><u class="is-base-size is-unde">Force sync</u></a>
          </span>
        </div>
      </nav>
      <div class="is-divider"></div>
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <span class="level-item">
              <span class="icon is-large">
                <fa-icon class="fas fa-2x" [icon]="icons.sthetoscope"></fa-icon>
              </span>
            </span>
          </div>
          <div class="level-item">
            <p>Help desk revolution service available:<br>I-IV 8:00-18:00, V-VII 8:00-16:45</p>
          </div>
        </div>
      </nav>
    </section>
  </div>


  <div class="column is-one-fifth footer-colum-3">
    <section class="section">
      <ul>
        <li><a><u>Groups</u></a></li>
        <li><a><u>Frequently contacted</u></a></li>
        <li><a><u>Preferences</u></a></li>
        <li><a><u>Log out</u></a></li>
      </ul>
    </section>
  </div>
</div>