<section class="hero is-centered">
    <div class="hero-body  has-text-centered">
        <img src="assets/icons/services.svg" width="150px">
        <h1 class="title">Paslaugos</h1>
        <h2 class="subtitle">Pagrindinės teikiamos IT paslaugos</h2>
    </div>
</section>
<div class="columns is-multiline">
    <div class="column is-one-third">
        <div class="card has-equal-height">
            <header class="card-header">
                <h1 class="card-header-title is-centered">Interneto puslapiai</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Internetinių svetainių kūrimas naudojant naujausias šių laikų siūlomas technologijas už puikų kainos
                        ir kokybės santykį. Sukurti internetiniai tinklapiai atitinka šiuolaikinius standartus, yra prisitaikantys
                        pagal ekraną bei paliekantys vartotojams puikią patirtį.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="card has-equal-height">
            <header class="card-header">
                <h1 class="card-header-title is-centered">WEB aplikacijos</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Progresyvių WEB aplikacijų kūrimas. Aplikacijos užkraunamos akimirksniu, Greitai reaguoja į vartotojų veiksmus. Vartotojo
                        patirtis alternatyvi realios programėlės, to pasekoje jaučiamas naujas kokybės lygis. Vartotojui
                        suteikiama galimybė išsisaugoti progresyvios web aplikacijos nuorodą darbalaukyje.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="card has-equal-height">
            <header class="card-header">
                <h1 class="card-header-title is-centered">Daugialypės terpės aplikacijos</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Hibridinių aplikacijų kūrimas. Aplikacijos gali būti išleistos tiek "Android", tiek "iOS" platformoms. Tai mažiau laiko reikalaujantis
                        procesas, nei kurti atskiras programėles kiekvienai platformai. Programėlės greitos, sklandžiai veikiančios
                        bei prisitaikančios prie vartotojo.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="card has-equal-height">
            <header class="card-header">
                <h1 class="card-header-title is-centered">Duomenų rinkimas</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Duomenų rinkimas pasitelkiant efektyviausius programinius karkasus bei jų eksportavimas į jums patogius formatus. Surinktų
                        duomenų importavimas į jūsų sistemą. Programų, kurios intervališkai renka duomenis kūrimas bei tobulinimas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="card has-equal-height">
            <header class="card-header">
                <h1 class="card-header-title is-centered">Robotai</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Robotų atliekančių automatinius veiksmus internete kūrimas, mechaniškų veiksmų automatizavimas. Laipsniškų, atsitiktinių,
                        simuliacinių veiksmų internete vykdymas. Veiksmų automatizavimas iš tam tikrų lokacijų ar tam tikru
                        laiku.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="card has-equal-height">
            <header class="card-header">
                <h1 class="card-header-title is-centered">
                    Paieškos sistemų optimizavimas</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        "Google", "Yandex", "Bing", "Yahoo!" bei kitų plačiai naudojamų paieškos variklių vidinis optimizavimas.
                        Svetainių pakėlimas į aukštesnes pozicijas paieškos sistemoje pagal norimus raktažodžius.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>