<section class="hero">
    <div class="hero-body has-text-centered">
        <img src="assets/pictures/avatar.svg" width="150px">
        <h1 class="title">Žygimantas Bagdzevičius</h1>
        <h2 class="subtitle">Full-Stack Programuotojas</h2>
        <img class="image" src="assets/pictures/hero.svg">
    </div>
</section>

<div class="title has-text-centered">Trumpai apie mane</div>
<div class="columns is-centered">
    <div class="column is-half">
        <div class="card  has-equal-height">
            <header class="card-header">
                <p class="card-header-title is-centered">Informacija</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div><span class="icon"><img class="level-item image is-16x16" src="assets/icons/user1.svg"></span>Trečio
                        kurso Vilniaus Gedimino technikos universiteto informacinių sistemų inžinerijos - kompiuterizuotų
                        informacinių sistemų studentas.</div>
                    <div><span class="icon"><img class="level-item image is-16x16" src="assets/icons/cyberduck.svg"></span>
                        Darbai atliekami laiku.
                    </div>
                    <div><span class="icon"><img class="level-item image is-16x16" src="assets/icons/software.svg"></span>
                        Visada puikus atliekamų darbų kainos ir kokybės santykis.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-quarter has-text-centered">
        <div class="card has-equal-height">
            <header class="card-header">
                <p class="card-header-title is-centered">
                    Savybės
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div>Detalumas</div>
                    <div>Komunikabilumas</div>
                    <div>Kritinis mąstymas</div>
                    <div>Kruopštumas</div>
                    <div>Novatoriškumas</div>
                    <div>Pasiryžimas</div>
                    <div>Racionalumas</div>
                    <div>Sistemingumas</div>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-quarter has-text-centered">
        <div class="card has-equal-height">
            <header class="card-header">
                <p class="card-header-title is-centered">Sugebėjimai</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div>Derinimas</div>
                    <div>Integravimas</div>
                    <div>Optimizavimas</div>
                    <div>Modeliavimas</div>
                    <div>Pritaikymas</div>
                    <div>Programavimas</div>
                    <div>Ratifikavimas</div>
                    <div>Testavimas</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title has-text-centered">Mano įgūdžiai</div>
<div class="columns is-centered has-text-centered">
    <div class="column is-one-quarter-tablet">
        <div class="card">
            <header class="card-header">
                <h1 class="card-header-title is-centered">Vidinis programavimas</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/python.svg" alt="python programuotojas, python kalbos programavimo darbai">
                    </span>Python
                    <progress class="progress is-small" value="85" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/java.svg" alt="java programuotojas, java kalbos programavimo darbai">
                    </span>Java
                    <progress class="progress is-small" value="55" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/matlab.svg" alt="matlab programuotojas, matlab kalbos programavimo darbai">
                    </span>Matlab
                    <progress class="progress is-small" value="60" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/kotlin.svg" alt="kotlin programuotojas, kotlin kalbos programavimo darbai">
                    </span>kotlin
                    <progress class="progress is-small" value="30" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/cplusplus.svg"></span>C++
                    <progress class="progress is-small" value="40" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/c.svg"></span>C
                    <progress class="progress is-small" value="60" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/vhdl.svg"></span>VHDL
                    <progress class="progress is-small" value="30" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/mongodb.svg"></span>noSQL
                    <progress class="progress is-small" value="84" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/postgresql.svg"></span>SQL
                    <progress class="progress is-small" value="76" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/woocommerce.svg"></span>Php
                    <progress class="progress is-small" value="40" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter-tablet">
        <div class="card">
            <header class="card-header">
                <h1 class="card-header-title is-centered">Išorinis programavimas</h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/typescript.svg" alt="typescript programuotojas, typescript kalbos programavimo darbai">
                    </span>Typescript
                    <progress class="progress is-small" value="86" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/javascript.svg" alt="javascript programuotojas, javascript kalbos programavimo darbai">
                    </span>Javascript
                    <progress class="progress is-small" value="75" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/jquery.svg" alt="jquery programuotojas, jquery kalbos programavimo darbai">
                    </span>jQuery
                    <progress class="progress is-small" value="65" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/kivylang.svg" alt="kivylang programuotojas, kivylang kalbos programavimo darbai">
                    </span>KivyLang
                    <progress class="progress is-small" value="91" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/html5.svg"></span>HTML5
                    <progress class="progress is-small" value="94" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/sass.svg"></span>SASS
                    <progress class="progress is-small" value="70" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/css3.svg"></span>CSS3
                    <progress class="progress is-small" value="82" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/xml.svg"></span>XML
                    <progress class="progress is-small" value="82" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/svg.svg"></span>SVG
                    <progress class="progress is-small" value="85" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/wordpress.svg"></span>Wordpress
                    <progress class="progress is-small" value="70" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter-tablet">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-centered">Programavimo karkasai</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/angular.svg" alt="angular 7 programuotojas, angular 7 programavimo darbai">
                    </span>Angular 7
                    <progress class="progress is-small" value="82" max="100"></progress>
                    <span class="icon">
                        <img class="level-item image is-16x16" src="assets/icons/ionic.svg" alt="Ionic programuotojas, Ionic programavimo darbai">
                    </span>Ionic
                    <progress class="progress is-small" value="60" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/bulma.svg"></span>Bulma
                    <progress class="progress is-small" value="79" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/materializecss.svg"></span>MaterializeCSS
                    <progress class="progress is-small" value="75" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/kivy.svg" alt="kivy programuotojas, kivy programavimo darbai"></span>Kivy
                    <progress class="progress is-small" value="70" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/flask.svg" alt="flask programuotojas, flask programavimo darbai"></span>Flask
                    <progress class="progress is-small" value="80" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/spring-boot.svg" alt="spring boot programuotojas, spring boot programavimo darbai"></span>Spring
                    Boot
                    <progress class="progress is-small" value="70" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/spring-security.svg" alt="spring security programuotojas, spring security programavimo darbai"></span>Spring
                    Security
                    <progress class="progress is-small" value="60" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/scrapy.svg" alt="scrapy programuotojas, scrapy programavimo darbai"></span>Scrapy
                    <progress class="progress is-small" value="92" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/selenium.svg" alt="selenium programuotojas, selenium programavimo darbai"></span>Selenium
                    <progress class="progress is-small" value="88" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter-tablet">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-centered">Programinė įranga</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/terminal.svg"></span>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/windows.svg"></span>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/ubuntu.svg"></span>Terminal
                    <progress class="progress is-small" value="80" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/Npm.svg"></span>NPM
                    <progress class="progress is-small" value="70" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/github.svg"></span><span
                        class="icon"><img class="level-item image is-16x16" src="assets/icons/git.svg"></span>GIT
                    <progress class="progress is-small" value="90" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/pycharm.svg"></span>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/intellij.svg"></span>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/webstorm.svg"></span>Jetbrains
                    <progress class="progress is-small" value="80" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/vscode.svg"></span>VSCode
                    <progress class="progress is-small" value="85" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/photoshop.svg"></span>Photoshop
                    <progress class="progress is-small" value="60" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/azure.svg"></span>Azure
                    <progress class="progress is-small" value="55" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/wamp.svg"></span>Wamp
                    <progress class="progress is-small" value="70" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/cyberduck.svg"></span>Cyberduck
                    <progress class="progress is-small" value="70" max="100"></progress>
                    <span class="icon"><img class="level-item image is-16x16" src="assets/icons/tensorflow.svg"></span>Tensorflow
                    <progress class="progress is-small" value="62" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
</div>